@import '~bootstrap/scss/bootstrap.scss';

.container{
  min-width: 1000px!important;
}

.mds-hover:hover{
  filter: opacity(50%);
  cursor: pointer;
}

.mds-btn{
  background-color: #058283;
  border: 1px solid #058283 !important;
  color: white;
}

.mds-btn-empty{
  border: 1px solid #058283 !important;
  color: white;
}

.mds-text-gray{
  color: $gray-color;
}

.text-cit{
  border-left: 5px solid $bg-logo;
  padding: 15px 30px;
  font-style: italic;
}

.text-emp{
  color: $text-logo;
}

.mds-text-wide-s{
  font-size: 10px;
  font-weight: 900!important;
}

.mds-title-wide{
  font-weight: 900!important;
}

.mds-primary-color{
  color: $primary-color;
}

.bg-text-emp{
  background-color: $bg-logo;
}

.mds-text-title{
  color: $primary-color;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0!important;
}

.mds-jumbo-text{
  color: $text-contacts;
  font-size: 14px;
}

